header, nav{
    font-family: Lucida, cursive;
}

header, nav, main, footer{
    display: flex;
}

header{
    background-color: red;
    color: white;
    text-align: center;
    justify-content: center;
    height: 100px;
}

nav{
    background-color: orange;
    color: yellow;
    font-size: 50px;
    float: left;
    justify-content: center;
    width: 25%;
    height: 600px;
}
ul{
    margin-top: 120px;
}
li{
    cursor: pointer;
}

main{
    background-color: wheat;
    float: right;
    justify-content: space-around;
    width: 75%;
    height: 600px;
}

footer{
    background-color: plum;
    color: red;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    height: 50px;
    clear: both;
}